body {
  padding: 10px;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background: #EEAECA;
background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 209, 233, 0.74) 100%);
  
}

#top-navbar {
  width: 100%;
  height: 20px;
}

header{
    width: 100%;
}

nav{
    width: 100%;
    position: relative;
}

.header-left {
  height: 20px;
  float: left;
}

.header-logo-container {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.header-logo-container img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

.button-wrapper {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 120px;

  
}

.header-left .button-wrapper button {
  background: none;
  border: none;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 17px;
  cursor: pointer;
}

nav ul{
    display: inline-block;
    height: 20px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 17px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

nav ul li{
    display: inline-block;
    padding-left: 10px
}

nav ul a{
    text-decoration: none;
    cursor: pointer;
}

.header-right{
    float: right;
}

.black-button{
    background-color: black;
    color: white;
    padding-right : 35px;
    padding-left : 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.white-button{
    background: none;
    color: black;
    padding-right : 35px;
    padding-left : 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border: 2px solid #e0e0e0;
}

main{
    margin-top: 80px;
    width : 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#img-area{
    overflow-y: hidden;
}

#image-area figure{
    width : 120px;
    height: 180px;
    display: inline-block;
    margin : 10px;
}

#image-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#image-area figcaption{
    text-align: center;
}

.bottom-left-side{
    width : 50%;
    float: left;
}

.bottom-right-side{
    width : 50%;
    float: right;
}

.position-relative{
    position: relative;;
}

.position-absolute{
    position: absolute;
}

.inline-block{
    display: inline-block;
}

.small-img{
    width : 50px;
    height: 50px;
    border-radius: 15px;
    object-fit: cover;
}

.bottom-section figure figcaption{
    top: 50%;
    transform: translate(0%, -50%);
    padding-left : 10px;
}

.arrows{
    float: right;
}

h2{
    padding : 0;
    margin : 0;
}

#header-and-arrows{
    margin : 15px
}

